* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    background: linear-gradient(90deg, #0837b0 0%, #021e66 100%);
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 60px auto 30px;
}